*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

#favoritesGallery {
  border: 5px solid green;
  padding-left: 2%;
  background-color: aliceblue;
  font-size: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 100px auto 0; /* Pushed down by 100 pixels and centered horizontally */
}